@model IEnumerable<Movie>


@foreach (var item in Model)
{
<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/images/@item.ImageUrl" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="Details" asp-controller="Home" asp-route-id="@item.MovieId">@item.Name</a></h5>
                <p class="card-text" style="font-family:Forte ; color:dimgrey">
                    @item.Players
                </p>
                <p class="card-text">
                    <small class="text-muted">3 days ago</small>
                </p>
            </div>
        </div>
    </div>
</div>
}



